<ul class="list-unstyled">
    <li>
        {{#each classes}}
        <div class="class-block rounded border-color-{{@index}}"
            onclick="window.location='/student/course?classCode={{this.classCode}}'">
            <h3>{{this.name}}</h3>
            <p>{{this.professor}}</p>
            <p>Class Code: {{this.classCode}}</p>
        </div>
        {{/each}}

        <div class="rounded add-class" onclick="window.location='/student/join-class'">
            <span class="plus-sign">+</span>
        </div>
    </li>
</ul>